/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.scrollable {
    overflow: auto;
}

.react-tags {
    position: relative;
    padding: 6px 0 0 6px;
    border: 1px solid #D1D1D1;
    border-radius: 1px;
  
    /* shared font styles */
    font-size: 1em;
    line-height: 1.2;
  
    /* clicking anywhere will focus the input */
    cursor: text;
}
  
.react-tags.is-focused {
    border-color: #B1B1B1;
}
  
.react-tags__selected {
    display: inline;
}
  
.react-tags__selected-tag:after {
    content: '\2715';
    margin-left: 8px;
}
  
.react-tags__search {
    display: inline-block;
    /* prevent autoresize overflowing the container */
    max-width: 100%;
}
  
@media screen and (min-width: 30em) {
  
    .react-tags__search {
        /* this will become the offsetParent for suggestions */
        position: relative;
    }
  
}
  
.react-tags__search input {
    /* prevent autoresize overflowing the container */
    max-width: 100%;
  
    /* remove styles and layout from this element */
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
  
    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
}
  
.react-tags__search input::-ms-clear {
    display: none;
}